* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background: #35424a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #35424a;
    color: #fff;
    font-size: 16px;
}

button.enviar {
    background-color: #35424a;
    margin-top: 10px;
}

button.situacao-alunos {
    background-color: #e8491d;
    margin-top: 20px;
}

button:hover {
    opacity: 0.9;
}

.resultado {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
