body {
    font-family: Arial, sans-serif;
    background-color: #cbcbcb;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 95%;
    height: 22px;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf65;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #53a045;
  }
  
  #resultado {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
  }
  
  #resultado p {
    font-weight: bold;
    color: #333;
  }
  